{% extends 'base.html.twig' %}

{% block title %}New Memo{% endblock %}

{% block body %}
    <h1>Create new Memo</h1>

    {{ include('memo/_form.html.twig') }}

    <a href="{{ path('memo_index') }}">back to list</a>
{% endblock %}
